src/flow.json
[{
	"id": "49e9c02e.2d462",
	"type": "tab",
	"label": "Flow 1"
},{
	"id": "3ac1723b.e0870e",
	"type": "mqtt-broker",
	"z": "",
	"broker": "ethpi",
	"port": "1883",
	"clientid": "d:ORG_ID:DEVICE_TYPE:DEVICE_ID",
	"usetls": false,
	"compatmode": true,
	"keepalive": "60",
	"cleansession": true,
	"willTopic": "",
	"willQos": "0",
	"willPayload": "",
	"birthTopic": "",
	"birthQos": "0",
	"birthPayload": ""
},{
	"id": "5e950362.93446c",
	"type": "mqtt-broker",
	"z": "",
	"broker": "localhost",
	"port": "1883",
	"clientid": "d:ORG_ID:DEVCE_TYPE:DEVICE_ID",
	"usetls": false,
	"compatmode": true,
	"keepalive": "60",
	"cleansession": true,
	"willTopic": "",
	"willQos": "0",
	"willPayload": "",
	"birthTopic": "",
	"birthQos": "0",
	"birthPayload": ""
},{
	"id": "ee81c3e0.44ddf",
	"type": "mqtt in",
	"z": "49e9c02e.2d462",
	"name": "",
	"topic": "cmd/+/start-count",
	"qos": "2",
	"broker": "5e950362.93446c",
	"x": 150.5,
	"y": 64,
	"wires": [["60c4ba2d.528694"]]
},{
	"id": "cdd17078.d000e",
	"type": "function",
	"z": "49e9c02e.2d462",
	"name": "Capture image",
	"func": "var captureId = msg.payload.capture_id || 1;\n\nvar fileName = \"/var/image/image_\" + captureId + \".jpg\";\nmsg.fileName = fileName;\nmsg.capture_id = captureId;\n\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 247.5,
	"y": 241,
	"wires": [["6a98d1e1.1d0f8",
	"e7d546f.e9681b8"]]
},{
	"id": "e7d546f.e9681b8",
	"type": "function",
	"z": "49e9c02e.2d462",
	"name": "Process image",
	"func": "var newMsg = {\n    payload: {\n        capture_id: msg.capture_id,\n        fileName: msg.fileName,\n        count: 100\n    }\n};\n\nreturn newMsg;",
	"outputs": 1,
	"noerr": 0,
	"x": 487.5,
	"y": 208,
	"wires": [["ea8e1bdd.4f4508",
	"7fdf210a.cac21"]]
},{
	"id": "ea8e1bdd.4f4508",
	"type": "mqtt out",
	"z": "49e9c02e.2d462",
	"name": "",
	"topic": "evt/DEVICE_ID/count-result",
	"qos": "",
	"retain": "",
	"broker": "5e950362.93446c",
	"x": 775.5,
	"y": 208,
	"wires": []
},{
	"id": "7fdf210a.cac21",
	"type": "debug",
	"z": "49e9c02e.2d462",
	"name": "Result msg",
	"active": true,
	"console": "false",
	"complete": "true",
	"x": 724.5,
	"y": 162,
	"wires": []
},{
	"id": "13134b61.e62f05",
	"type": "debug",
	"z": "49e9c02e.2d462",
	"name": "Request msg",
	"active": true,
	"console": "false",
	"complete": "true",
	"x": 590.5,
	"y": 63,
	"wires": []
},{
	"id": "60c4ba2d.528694",
	"type": "json",
	"z": "49e9c02e.2d462",
	"name": "",
	"x": 370.5,
	"y": 64,
	"wires": [["13134b61.e62f05",
	"6a11d72a.804198"]]
},{
	"id": "6a98d1e1.1d0f8",
	"type": "debug",
	"z": "49e9c02e.2d462",
	"name": "Debug capture image",
	"active": true,
	"console": "false",
	"complete": "true",
	"x": 503.5,
	"y": 268,
	"wires": []
},{
	"id": "6a11d72a.804198",
	"type": "function",
	"z": "49e9c02e.2d462",
	"name": "Init MQTT",
	"func": "msg.senderId = msg.topic.replace(/cmd\\/(.*)\\/.*/g, \"$1\");\nreturn msg;",
	"outputs": 1,
	"noerr": 0,
	"x": 146.5,
	"y": 149,
	"wires": [["cdd17078.d000e"]]
}]